# PostgreSQL connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/petrohrys_startups"

# Generate with: openssl rand -base64 32
NEXTAUTH_SECRET="your-secret-min-32-chars-replace-this"

# Dev
NEXTAUTH_URL="http://localhost:3001"
NEXT_PUBLIC_BASE_URL="http://localhost:3001"

# Production
# NEXTAUTH_URL="https://petrohrys.com"
# NEXT_PUBLIC_BASE_URL="https://petrohrys.com"
